$sidenav-background: #111;
$sidenav-link-color: #818181;
$logo-color: #ff8888;

.sidenav {
    position: absolute;
    top: 0;
    left: 0;
    width: 60px;
    height: 100%;
    z-index: 1;
    background: $sidenav-background;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    .tops {
        .en {
            display: block;
            text-align: center;
        }

        a {
            font-size: 20px;
            margin-bottom: 15px;
            display: block;
            line-height: 51px;
            height: 51px;
            position: relative;
            vertical-align: middle;
            text-decoration: none;
            flex-direction: column;
            color: $sidenav-link-color;
            text-align: center;

        }
        .current {
             border-bottom: 3px solid #519ef0;
         }
        a:hover {
            border-bottom: 3px solid #0a58b7;
        }
        .logo {
            color: $logo-color;
            font-size: large;
            text-align: center;
            font-weight: 900;
            display: block;
            padding: 8px 0;
            text-align: center;
            padding-bottom: 1em;
            border-bottom: 2px solid rgb(33, 37, 41);
        }
    }
}

.sidenav-bottom {
    display: block;
    padding: 0;
    text-align: center;
    margin: 0;
    padding-bottom: 20px;

    a {
        text-decoration: none;
        color: $sidenav-link-color;
    }
}

.main {
    margin-left: 60px;
}